/*.background-image {
	background-image: url("static/images/clouds_sunset_sky_119785_3840x2400.jpg");
	background-position: center center;
} */

.intro-box {
	box-sizing: border-box;
	border-radius: 20px;
	background-color: #D3D3D3;
	opacity: 0.7;
	margin: 10px;
	padding: 20px;
	height: auto;
}

.content-box {
	box-sizing: border-box;
	border-radius: 20px;
	background-color: #D3D3D3;
	opacity: 0.7;
	margin: 10px;
	padding: 20px;
	max-width: 100%;
	height: auto;
}

.chart {
    margin: 0 auto;
    padding: 25px;
    display: inline-block;
    
}
.chart-text {
	font-size: medium;
	color: black;
	margin: 10px;
	padding: 10px;
}

.line {
	margin: 15px auto 15px;
	color: #FFFFFF;
	max-width: 75%;
}
