body {
  background-image: url("../images/clouds_background.png");
}

.btn {
	color: #000000;
	background-color: #D3D3D3;
}

.filter {
	padding-top: 2.5px;
}

.header {
	margin: auto;
	text-align: center;
	padding: 5px;
}

.chart-text {
	font-size: medium;
	color: black;
	margin: 5px 5px 10px 5px;
}

.line {
	margin: 5px auto 5px;
	color: #ffffff;
	width: 75%;
}

.content-box {
	box-sizing: border-box;
	border-radius: 25px;
	background-color: #FFFFF0;
	opacity: 0.8;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	padding: 15px;
}

.number-display {

	font-size: 30px;
	font-weight: 500;
	margin: auto;
	padding: 25px;
	text-align: center;

}

.page-footer {
	background-color: #D3D3D3;
	width: 100%;
	opacity: 0.75;
}

.chart {
	margin: auto;
}
